body {
    background-image: url(https://res.cloudinary.com/dxfkurrkj/image/upload/v1656705163/nza_background_wphcoh.jpg);
}
.new-body {
    background-color: white;
    max-width: 80%;
    margin: 0 auto;
}

/* start of header */
.nav-links {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.navbar-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
    font-family: 'Oxygen', sans-serif;
}

.nav-links :hover {
    color: rgb(155, 155, 155);    
}

.nav-logo {
    display: flex;
    height: 100px;
    width: 200px;
    
}
.logo{
    border-radius: 30%;
}


hr {
    border: none;
    height: 3px;
    color: #333; 
    background-color: #333; 
}

/* For verticle lines between nav links */

.navbar-flex li{
    display: flex;
    position: relative;
    float: right;
    padding: 0 30px;
}

.navbar-flex ul li::after {
    position: absolute;
    width: 2px;
    right: 0;
    content: ' ';
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

/* End of lines*/

.no-line::after{
    display: none;
}

.login-section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 52%;
    padding-top: 5px;
    position: absolute;
    top: 0px;
    right: 15%;
}

.login-section ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 500px;
    color: black;
}

.login-section ul li {
    list-style-type: none;
}

.login-section ul {
    display: flex;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 6px;
    padding: 9px;
    column-gap: 0px;
    background-color: rgb(208, 208, 208);
}

.login-section li{
    display: flex;
    position: relative;
    float: right;
    padding: 0px 10px 0px 10px;
}

.login-section ul li::after {
    position: absolute;
    width: 2px;
    right: 0;
    content: ' ';
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.login-section :hover {
    color: white;    
}

hr {
    border: none;
    height: 3px;
    color: #333; 
    background-color: #333; 
}

/* For verticle lines between nav links */

.footer-flex li{
    display: flex;
    position: relative;
    float: right;
    padding: 0 30px;
}

.footer-flex ul li::after {
    position: absolute;
    width: 2px;
    right: 0;
    content: ' ';
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(90deg);
}

.footer-links {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
    white-space: nowrap;
    font-family: 'Oxygen', sans-serif;
}

.footer-links :hover {
    color: lightslategrey;    
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

/* ------Left-Side------ */

.left-side{
    background-image: url(../images/nav_side.jpg);
    background-size: cover;
    color: white;
    width: 80%;
    margin-left: 5%;
    margin-right: 4%;
}
.container-1{
    margin-left: 20px;
    margin-right: 20px;
}
.underline{
    border: 1px solid white;
    padding-right: 40px;
}
.container-1 > p{
    padding-bottom: 0;
    margin-bottom: 0;
}
.container-1 > ul{
    list-style: none;
    padding-top: 0;
    margin-top: 0;
    padding-left: 18px
} 
.container-1 > ul > li{
    padding-top: 3px;
}
.container-1 > img{
    width: 100%;
}
.container-1 > .notes{
    margin-bottom: 15px;
    margin-top: 0px;
}

/* ------Right-Side------- */

.right-side{
    margin-right: 5%;
}
.pictures{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 5%;
    row-gap: 2%;
    grid-template-areas: 
        "one two"
        "three four"
    ;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.pictures div img{
    width: 100%;
}